@model Domain.Entityes.Product

@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("AddProduct", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="table">
            <tr>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", style = "margin-left: 20px;margin-right: 20px;", placeholder = "Имя товара" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", style = "height: 60px; margin-left: 20px; margin-right: 20px;", placeholder = "Описание товара" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Discount, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control", style = "margin-left: 20px;margin-right: 20px;", placeholder = "Скидка" } })
                            @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SpecOffer, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SpecOffer, new { htmlAttributes = new { @class = "form-control", style = "height: 60px; margin-left: 20px;margin-right: 20px;", placeholder = "Специальное предложение" } })
                            @Html.ValidationMessageFor(model => model.SpecOffer, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", style = "margin-left: 20px;margin-right: 20px;", placeholder = "Цена" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Category, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input id="Radio1" type="radio" value="Selling" name="Category" data-val-required="Пожалуйста, укажите категорию" data-val="true" /><label style="margin: 5px">ONLINE-гардероб</label>
                            <br />
                            <input id="Radio2" type="radio" value="Gallery" name="Category" data-val-required="Пожалуйста, укажите категорию" data-val="true" /><label style="margin: 5px">Галерея</label>
                            <br />
                            <input id="Radio3" type="radio" value="Partners" name="Category" data-val-required="Пожалуйста, укажите категорию" data-val="true" /><label style="margin: 5px">Партнерское</label>

                            @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-md-10" style="background-color: blanchedalmond">
                            <h4>
                                выберите <strong> основное фото </strong> продукта
                            </h4>
                            <p style="color: red">(обязательное поле для заполнения!)</p>
                            <input type="file" name="upload" />
                        </div>
                    </div>
                        <br />
                    <div class="form-group">
                        <div class="col-md-10">
                            <h4>выберите дополнительные фото для продукта</h4>
                            <input type="file" name="uploads" />
                            <br />
                            <input type="file" name="uploads" />
                            <br />
                            <input type="file" name="uploads" />
                            <br />
                            <input type="file" name="uploads" />
                            <br />
                            <input type="file" name="uploads" />
                        </div>
                    </div>
</td>
            </tr>
        </table>
        <div class="col-md-offset-2 col-md-10">
            <table>
                <a href="/Admin/MyPanel">
                    <input id="Button" type="button" value="Вернуться назад" class="btn btn-default" style="float: right" />
                </a>

            </table><input type="submit" value="Создать товар" class="btn btn-default" style="float: left"/>
        </div>
        
    </div>
}
