@model IEnumerable<Domain.Entityes.Reviews>
@using DressShopWebUI.Controllers
@{
    ViewBag.Title = "Каталог отзывов";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@if (TempData["message"] != null)
{
    <div class="alert alert-success" align="center">@TempData["message"]</div>
}
<br/>
<label for="dateSelect">Отсортировать по дате добавления отзыва</label>
<select id="dateSelect">
    <option value="@((int)SortType.None)"></option>
    <option value="@((int)SortType.Before)">от последних к первым</option>
    <option value="@((int)SortType.Later)">от первых к последним </option>
</select>
<br />
<br />
<div id="divReviews">
    @Html.Partial("PartialEditingReviews", Model)
</div>
<script>
    $(document).ready(function() {
        $("#dateSelect").change(function () {
            var data = {
                sortType: $("#dateSelect option:selected").val()
            };
            $.ajax({
                url: "/Admin/EditingReviews",
                type: "POST",
                data: data,
                success: function (data) {
                    $("#divReviews").html(data);
                }
            });
        });
    })
</script>