@model IEnumerable<Domain.Entityes.Product>
@if (TempData["message"] != null)
{
    <div class="alert alert-success" align="center"><h3>@TempData["message"]</h3></div>
}

<table class="table" style="background-color: lightgrey">
    <tr>
        <th class="text-center">
            Фото
        </th>
        <th class="text-center">
            Категория
        </th>
        <th class="text-center">
            Имя
        </th>
        <th class="text-center">
            Цена
        </th>
        <th class="text-center">
            Скидка
        </th>
        <th class="text-center">
            Описание
        </th>
        <th class="text-center">
            Специальное предложение
        </th>
        <th class="text-center">
            Действия над товаром
        </th>
    </tr>

    @foreach (var i in Model)
    {
        <tr>
            <td>
                @foreach (var a in i.Photo)
                {
                    if (a.Priority)
                    {
                        <img src="~/PhotoForDB/@a.PhotoUrl" width="60" height="70" />
                    }
                }

            </td>
            <td>
                @if (i.Category.Equals("Selling"))
                {

                    <i>ONLINE-гардероб</i>
                }

                @if (i.Category.Equals("Gallery"))
                {
                    <i>Галерея</i>
                }

                @if (i.Category.Equals("Partners"))
                {
                    <i>Партнерское</i>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => i.Name)
            </td>
            <td>
                @(i.Price) грн.
            </td>
            <td>
                @Html.DisplayFor(modelItem => i.Discount) %
            </td>
            <td>
                @Html.DisplayFor(modelItem => i.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => i.SpecOffer)
            </td>
            <td class="text-center">
                @using (Html.BeginForm("EditProduct", "Admin", FormMethod.Get))
                {
                    @Html.Hidden("ProductId", i.ProductId)
                    <input type="submit"
                           class="btn btn-default btn-xs"
                           value="Редактировать" />
                }
            </td>
            <td class="text-center">
                @using (Html.BeginForm("DeleteProduct", "Admin", FormMethod.Post))
                {
                    @Html.Hidden("ProductId", i.ProductId)
                    <input type="submit"
                           class="btn btn-default btn-xs"
                           value="Удалить" />
                }
            </td>
        </tr>
    }

</table>
