@model List<Domain.Entityes.Photo>
@{
    ViewBag.Title = "Online-Гардероб";
}
<style>
    .modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99999;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        display: none;
        pointer-events: none;
    }

        .modalDialog:target {
            display: block;
            pointer-events: auto;
        }

        .modalDialog > div {
            width: 400px;
            position: relative;
            margin: 10% auto;
            padding: 5px 20px 13px 20px;
            border-radius: 10px;
            background: #fff;
            background: -moz-linear-gradient(#fff, #999);
            background: -webkit-linear-gradient(#fff, #999);
            background: -o-linear-gradient(#fff, #999);
        }

    .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }

        .close:hover {
            background: #00d9ff;
        }
</style>

<br />
<br />
<br />
<ul class="products">
    @{
        int count = 0;
        foreach (var i in Model)
        {
            if (i.Priority == true)
            {
                var clas = "";
                if (count == 3)
                {
                    clas = "product";
                    count = 0;

                }
                else
                {
                    count++;
                    clas = "product child";
                }
                <a href="@("#openModal" + i.Product.ProductId)">
                    <li class="@clas">
                        <img src="~/Images/@i.PhotoUrl" class="productPic" title="@i.Product.Name" />
                        @{
                            if (i.Product.Discount != 0)
                            {
                                <div class="discount">
                                    <span class="discountValue">@(i.Product.Discount + "%")</span>
                                </div>
                                    <h3 class="productName">
                                        <p class="price">
                                            <s>@((double)i.Product.Price) </s> <font color="red">@((double)(i.Product.Price - i.Product.Price * i.Product.Discount / 100))</font> грн
                                        </p>"@i.Product.Name"
                                    </h3>
                            }
                            else
                            {
                                <h3 class="productName">
                                    <p class="price">@((double)i.Product.Price) грн</p>"@i.Product.Name"
                                </h3>
                            }

                        }

                    </li>
                </a>



                    <div id="@("openModal" + i.Product.ProductId)" class="modalDialog">
                        <div>
                            <a href="#close" title="Закрыть" class="close">X</a>
                            @foreach (var a in Model)
                            {
                                if (a.Product.ProductId == i.Product.ProductId)
                                {
                                    <img id="@("HiddenImgId" + a.PhotoId)" class="" title="@a.Product.Name" src="~/Images/@a.PhotoUrl" height="80" width="75" />
                                }
                            }
                            <p><strong>Имя -</strong> @i.Product.Name</p>
                            @{
                                if (i.Product.Discount != 0)
                                {
                                    <p>
                                        <strong>Цена -</strong> @((double)(i.Product.Price - i.Product.Price * i.Product.Discount / 100)) грн
                                    </p>
                                }
                                else
                                {
                                    <p>
                                        <strong>Цена -</strong> @((double)i.Product.Price) грн
                                    </p>
                                }
                                if (!i.Product.Description.IsEmpty())
                                {
                                    <p><strong>Описание - </strong> @i.Product.Description</p>
                                }
                                if (!i.Product.SpecOffer.IsEmpty())
                                {
                                    <p><strong>Специальное предложение -</strong> @i.Product.SpecOffer</p>
                                }

                            }
                            <div class="addBasket">
                                <span class="addBasketText" onclick="location.href = '@Url.Action("Buy", "Basket", new {id = i.Product.ProductId, name = i.Product.Name})'">Добавить в корзину</span>
                            </div>
                        </div>
                    </div>
                                    }

                                }
    }
</ul>
