@model PagedList.IPagedList<Domain.Entityes.Reviews>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Отзывы";
}
@foreach (var reviews in Model)
{
    <div style="background-color: bisque" align="center">
        <h4 align="left">@reviews.ClientName</h4>
        <h5 align="left">@reviews.ClientFeedback</h5>
        <h5 align="left"><strong>Оценка - </strong> @reviews.Rating</h5>
    </div>
}

<br />
<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("ClientFeedback", new { page }))
