@using MvcPaging
@model IPagedList<Domain.Entityes.Reviews>
<h1 align="center">Отзывы Клиентов</h1>

        @foreach (var item in Model)
        {
            <div>
                <h4>@item.ClientName оценил сервис на - @item.Rating</h4> 
                <h5>@item.ClientFeedback</h5>
            </div>
        }
<div class="pager1">
    @Html.Raw(Ajax.Pager(
            new Options
            {
                PageSize = Model.PageSize,
                TotalItemCount = Model.TotalItemCount,
                CurrentPage = Model.PageNumber,
                ItemTexts = new ItemTexts() { First = "", Next = "Назад", Previous = "Дальше", Page = "", Last = "" },
                ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                TooltipTitles = new TooltipTitles() { Last = "К последней странице", First = "К первой странице", Next = "Следующая страница", Previous = "Предидущая страница", Page = "страница - {0}." },
                Size = Size.normal,
                Alignment = Alignment.centered,
                IsShowControls = true,
                IsShowFirstLast = true,
                CssClass = ""
            },
            new AjaxOptions
            {
                UpdateTargetId = "grid-list",
                OnBegin = "beginPaging",
                OnSuccess = "successPaging",
                OnFailure = "failurePaging"
            }, new { controller = "Home", action = "ClientFeedback"/*, employee_name = ViewData["employee_name"]*/ }))
    <div class="well">
        @*Showing <span class="badge badge-success">@Model.ItemStart</span>*@ Отзывы <span class="badge badge-success">@Model.ItemEnd</span>
        Всего <span class="badge badge-info">@Model.TotalItemCount</span>
    </div>
</div>
<script src="../../Scripts/bootstrap.min.js" type="text/javascript"></script>

