<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div style="background-color:burlywood; margin-top:0px">
        <h1>ШЛЯПКА + ЛОГО + <input id="Button1" type="button" value="Фейсбук" /> + 
<input id="Button1" type="button" value="Твиттер" /> +  @Html.ActionLink("Корзина", "Index", "Home")</h1>
    </div>

        <div style="background-color:aquamarine; margin-top:0px">

            @Html.ActionLink("О ДИЗАЙНЕРЕ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("ONLINE-ГАРДЕРОБ", "Selling", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("ГАЛЕРЕЯ", "Gallery", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("ПАРТНЕРЫ", "Partners", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Админка(кнопку уберем, просто пока для удобства)", "MyPanel", "Admin", new { area = "" }, new { @class = "navbar-brand" })
            
            <br />
            <br />
        </div>

    <br />
    <div class="container body-content">
        @RenderBody()
    </div>
            <footer>
                <div style="background-color: aquamarine; margin-top:0px">
                    <br />
                    <h2 >подвал</h2>
                    <br />
                </div>
            </footer>
        

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>